---
import ForgotPassword from '@/components/auth/ForgotPassword'
import { imageUrl } from '@/constants'
import Layout from '@/layouts/Layout.astro'
---

<script>
  const urlSearchParams = new URLSearchParams(window.location.search)
  const params = Object.fromEntries(urlSearchParams.entries())
</script>

<Layout title='Leaning English by Jarvis' description=''>
  <div class='w-full h-full'>
    <div class='w-full mt-8'>
      <div class='flex justify-center items-center'>
        <img src={imageUrl.logo} alt='Logo' width={82} height={102} />
        <img src={imageUrl.eduLogo} alt='Logo' width={163} height={69} />
      </div>
      <div class='text-center mt-14'>
        <span class='text-2xl font-bold'>Sign Up</span> to continue
      </div>
      <ForgotPassword client:load />
    </div>
  </div>
</Layout>
